html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 1px solid maroon;
border: none;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
box-sizing: border-box;
text-decoration: none;
}
/* Add CSS styling here */
* {
    background-color: #EFBE93;
    color: #100110;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin: 1rem;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;

}

.nav_width {
    display: flex;
    justify-content: space-between;
    width: 30%;
    background-color: #A44849;
    padding: 1%;
    border-radius: 0.2rem;
    border: 1px solid #5A1838;
}

a {
    background-color: #C9806A;
    padding: 3.5%;
    border: 0.1rem solid #5A1838;
    border-radius: 1rem;
    box-shadow: -2px 2px #100110;

}

a:hover {
    background-color: #A44849;
    color: #100110;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.section1 h2 {
    font-size: 200%
}

.section1 p {
    width: 40%;
}

.section2 img {
    border: 1px solid #5A1838;
}

.section3 {
    display: flex;
    align-items: center;
}

.project_images {
    display: flex;
    justify-content: right;
    background-color: #C9806A;
    width: 70%;
    border: 1px solid #5A1838;
}

.project_images img {
    width: 20%;
    margin: 2.5%;
    border: 1px solid #5A1838;
}

.project_paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: none;
    border: 1px solid #5A1838;
    border-left: none;
}

.project_paragraph {
    display: flex;
    justify-content: center;
    background-color: #A44849;
    padding-top: 5%;
    padding-bottom: 5%;
}

.project_paragraph p {
    margin: 0 auto;
    background-color: #A44849;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer_width {
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: #A44849;
    padding: 0.5%;
    border-radius: 0.2rem;
    border: 1px solid #5A1838;
    margin: 0.5%;
}

@media (max-width: 1000px) {

    .nav_width {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;
        width: 20%;
        background-color: #A44849;
        padding: 1%;
        border-radius: 0.2rem;
    }

    .nav_width a {
        display: flex;
        justify-content: center;
        width: 70%;
        margin-top: 3%;
    }

}

@media (max-width: 800px) {
    
    
}

@media (max-width: 500px) {

}